.card {
  max-width: 180px;
  border: 20px solid #1b5d1f;
  background-color: #1b5d1f;
  border-radius: 10px;
}
.card img {
  max-width: 180px;
  object-fit: contain;
}

.card:hover {
  border: 20px solid #37da88;
  background-color: #37da88;
}
